:root {
    --orange-40: rgba(249, 221, 136, 1);
    --defaultprimary-light: rgba(37, 70, 228, 1);
    --defaultprimary-dark: rgba(120, 83, 246, 1);
    --defaultsuccess: rgba(95, 191, 69, 1);
    --defaulterror: rgba(230, 60, 77, 1);
    --defaultblack: rgba(0, 0, 0, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --neutral-100: rgba(30, 32, 43, 1);
    --neutral-90: rgba(50, 53, 68, 1);
    --neutral-80: rgba(70, 74, 93, 1);
    --neutral-70: rgba(92, 97, 118, 1);
    --neutral-60: rgba(116, 121, 143, 1);
    --neutral-50: rgba(141, 146, 169, 1);
    --neutral-40: rgba(167, 172, 194, 1);
    --neutral-30: rgba(194, 199, 220, 1);
    --neutral-20: rgba(218, 221, 233, 1);
    --neutral-10: rgba(240, 242, 246, 1);
    --blue-100: rgba(7, 24, 96, 1);
    --blue-90: rgba(13, 30, 106, 1);
    --blue-80: rgba(8, 29, 129, 1);
    --blue-70: rgba(11, 37, 162, 1);
    --blue-60: rgba(22, 50, 195, 1);
    --blue-50-default: rgba(37, 70, 228, 1);
    --blue-40: rgba(86, 115, 246, 1);
    --blue-30: rgba(134, 156, 248, 1);
    --blue-20: rgba(183, 196, 250, 1);
    --blue-10: rgba(233, 237, 253, 1);
    --purple-100: rgba(36, 5, 95, 1);
    --purple-90: rgba(39, 17, 114, 1);
    --purple-80: rgba(56, 30, 147, 1);
    --purple-70: rgba(75, 44, 180, 1);
    --purple-60: rgba(96, 62, 213, 1);
    --purple-50-default: rgba(120, 83, 246, 1);
    --purple-40: rgba(150, 121, 247, 1);
    --purple-30: rgba(180, 160, 249, 1);
    --purple-20: rgba(210, 199, 251, 1);
    --purple-10: rgba(241, 237, 254, 1);
    --red-100: rgba(80, 11, 19, 1);
    --red-90: rgba(117, 21, 28, 1);
    --red-80: rgba(155, 30, 37, 1);
    --red-70: rgba(193, 43, 53, 1);
    --red-60-default: rgba(230, 60, 77, 1);
    --red-50: rgba(235, 87, 108, 1);
    --red-40: rgba(237, 121, 139, 1);
    --red-30: rgba(241, 157, 171, 1);
    --red-20: rgba(245, 195, 204, 1);
    --red-10: rgba(251, 233, 236, 1);
    --green-100: rgba(38, 90, 23, 1);
    --green-90: rgba(56, 123, 37, 1);
    --green-80: rgba(75, 157, 51, 1);
    --green-70-default: rgba(95, 191, 69, 1);
    --green-60: rgba(117, 224, 89, 1);
    --green-50: rgba(138, 251, 109, 1);
    --green-40: rgba(159, 252, 138, 1);
    --green-30: rgba(183, 253, 170, 1);
    --green-20: rgba(211, 253, 204, 1);
    --green-10: rgba(241, 254, 239, 1);
    --default-headings-h1-bold-font-family: "Montserrat", Helvetica;
    --default-headings-h1-bold-font-weight: 700;
    --default-headings-h1-bold-font-size: 46px;
    --default-headings-h1-bold-letter-spacing: 0px;
    --default-headings-h1-bold-line-height: 56px;
    --default-headings-h1-bold-font-style: normal;
    --default-headings-h1-regular-font-family: "Montserrat", Helvetica;
    --default-headings-h1-regular-font-weight: 400;
    --default-headings-h1-regular-font-size: 46px;
    --default-headings-h1-regular-letter-spacing: 0px;
    --default-headings-h1-regular-line-height: 56px;
    --default-headings-h1-regular-font-style: normal;
    --default-headings-h2-bold-font-family: "Montserrat", Helvetica;
    --default-headings-h2-bold-font-weight: 700;
    --default-headings-h2-bold-font-size: 34px;
    --default-headings-h2-bold-letter-spacing: 0px;
    --default-headings-h2-bold-line-height: 40px;
    --default-headings-h2-bold-font-style: normal;
    --default-headings-h2-regular-font-family: "Montserrat", Helvetica;
    --default-headings-h2-regular-font-weight: 400;
    --default-headings-h2-regular-font-size: 34px;
    --default-headings-h2-regular-letter-spacing: 0px;
    --default-headings-h2-regular-line-height: 40px;
    --default-headings-h2-regular-font-style: normal;
    --default-headings-h3-bold-font-family: "Montserrat", Helvetica;
    --default-headings-h3-bold-font-weight: 700;
    --default-headings-h3-bold-font-size: 22px;
    --default-headings-h3-bold-letter-spacing: 0px;
    --default-headings-h3-bold-line-height: 32px;
    --default-headings-h3-bold-font-style: normal;
    --default-headings-h3-regular-font-family: "Montserrat", Helvetica;
    --default-headings-h3-regular-font-weight: 400;
    --default-headings-h3-regular-font-size: 22px;
    --default-headings-h3-regular-letter-spacing: 0px;
    --default-headings-h3-regular-line-height: 32px;
    --default-headings-h3-regular-font-style: normal;
    --default-headings-h4-bold-font-family: "Montserrat", Helvetica;
    --default-headings-h4-bold-font-weight: 700;
    --default-headings-h4-bold-font-size: 18px;
    --default-headings-h4-bold-letter-spacing: 0px;
    --default-headings-h4-bold-line-height: 24px;
    --default-headings-h4-bold-font-style: normal;
    --default-headings-h4-regular-font-family: "Montserrat", Helvetica;
    --default-headings-h4-regular-font-weight: 400;
    --default-headings-h4-regular-font-size: 18px;
    --default-headings-h4-regular-letter-spacing: 0px;
    --default-headings-h4-regular-line-height: 24px;
    --default-headings-h4-regular-font-style: normal;
    --default-body-bold-font-family: "Montserrat", Helvetica;
    --default-body-bold-font-weight: 700;
    --default-body-bold-font-size: 16px;
    --default-body-bold-letter-spacing: 0px;
    --default-body-bold-line-height: 24px;
    --default-body-bold-font-style: normal;
    --default-body-default-font-family: "Montserrat", Helvetica;
    --default-body-default-font-weight: 400;
    --default-body-default-font-size: 16px;
    --default-body-default-letter-spacing: 0px;
    --default-body-default-line-height: 24px;
    --default-body-default-font-style: normal;
    --default-body-small-font-family: "Montserrat", Helvetica;
    --default-body-small-font-weight: 400;
    --default-body-small-font-size: 14px;
    --default-body-small-letter-spacing: 0px;
    --default-body-small-line-height: 24px;
    --default-body-small-font-style: normal;
    --default-buttons-default-font-family: "Montserrat", Helvetica;
    --default-buttons-default-font-weight: 500;
    --default-buttons-default-font-size: 16px;
    --default-buttons-default-letter-spacing: 0px;
    --default-buttons-default-line-height: normal;
    --default-buttons-default-font-style: normal;
    --default-buttons-small-font-family: "Montserrat", Helvetica;
    --default-buttons-small-font-weight: 500;
    --default-buttons-small-font-size: 14px;
    --default-buttons-small-letter-spacing: 0px;
    --default-buttons-small-line-height: normal;
    --default-buttons-small-font-style: normal;
    --default-forms-label-font-family: "Montserrat", Helvetica;
    --default-forms-label-font-weight: 500;
    --default-forms-label-font-size: 16px;
    --default-forms-label-letter-spacing: 0px;
    --default-forms-label-line-height: normal;
    --default-forms-label-font-style: normal;
    --box-shadows-x-small: 0px 2px 6px 0px rgba(7, 16, 53, 0.1);
    --box-shadows-small: 0px 11px 20px 0px rgba(7, 16, 53, 0.1);
    --box-shadows-medium: 0px 10px 30px 3px rgba(7, 16, 53, 0.15);
    --box-shadows-large: 0px 18px 34px 0px rgba(7, 16, 53, 0.15);
    --borders-text-input-field-border: 0px 0px 0px 1px rgba(206, 208, 219, 1);
    --borders-text-input-field-focused: 0px 0px 0px 4px rgba(183, 196, 250, 1);
    --borders-text-input-field-error: 0px 0px 0px 1px rgba(231, 61, 77, 1);
    --borders-text-input-field-focused-error: 0px 0px 0px 4px
        rgba(183, 196, 250, 1);
    --borders-dropdown-select-select-border: 0px 2px 4px 0px rgba(7, 16, 53, 0.06);
    --borders-dropdown-select-select-focused: 0px 0px 0px 4px
        rgba(183, 196, 250, 1), 0px 2px 6px 0px rgba(7, 16, 53, 0.2);
    --borders-dropdown-select-select-error: 0px 2px 6px 0px rgba(7, 16, 53, 0.1),
        0px 0px 0px 1px rgba(231, 61, 77, 1);
    --borders-dropdown-select-select-focused-error: 0px 0px 0px 4px
        rgba(183, 196, 250, 1), 0px 2px 6px 0px rgba(7, 16, 53, 0.2);
}
