{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/styleguide_news.css'%}" />
        <link rel="stylesheet" href="{% static 'css/style_news.css'%}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="div-wrapper">
            <div class="div">
                <div class="frame">
                    <img class="mask-group" src="{% static 'img/mask-group.png'%}" />
                    <div class="text-wrapper">ГЛАВНАЯ</div>
                </div>
                <div class="search">
                    <div class="overlap-group">
                        <img class="free-icon-magnifier" src="{% static 'img/free-icon-magnifier-2319177-1.png'%}" />
                        <div class="text-wrapper-0">Найти...</div>
                    </div>
                </div>
                <div class="text-wrapper-2">Истории</div>
                <div class="stories">
                    <img class="rectangle-1" src="{% static 'img/rectangle-2.png'%}" />
                    <img class="rectangle-2" src="{% static 'img/rectangle-3.png'%}" />
                    <img class="rectangle-3" src="{% static 'img/rectangle-4.png'%}" />
                    <img class="rectangle-4" src="{% static 'img/rectangle-5.png'%}" />
                </div>
                <div class="text-wrapper-3">НОВОСТИ</div>
                <div class="news">
                    <div class="overlap">
                        <p class="p">
                            Деятельность конференции была организована на пяти площадках, где участники работали в рамках пяти
                            научно-практических тематических секций.
                        </p>
                        <p class="text-wrapper-4">Международная конференция TOMiC–2024<br />в НИУ МГСУ</p>
                        <img class="img-2" src="{% static 'img/22-11-2024-3-1.png'%}" />
                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-2">
                        <p class="p">
                            Деятельность конференции была организована на пяти площадках, где участники работали в рамках пяти
                            научно-практических тематических секций.
                        </p>
                        <p class="text-wrapper-4">Международная конференция TOMiC–2024<br />в НИУ МГСУ</p>
                        <img class="img-2" src="{% static 'img/22-11-2024-3-1.png'%}" />
                    </div>
                </div>
                <div class="overlap-group-wrapper">
                    <div class="overlap-3">
                        <p class="p">
                            Поздравляем победителей игры! На память – подарки от НИУ МГСУ и приглашение на День открытых дверей.
                        </p>
                        <p class="text-wrapper-4">Деловая игра «Мини-Строй»<br />в НИУ МГСУ</p>
                        <img class="img-2" src="{% static 'img/jevhyr0wugd8gi9w8nec3mqvk3m3ppo1-1-2.png'%}" />
                    </div>
                </div>
                <div class="news-2">
                    <div class="overlap-4">
                        <p class="p">
                            Поздравляем победителей игры! На память – подарки от НИУ МГСУ и приглашение на День открытых дверей.
                        </p>
                        <p class="text-wrapper-4">Деловая игра «Мини-Строй»<br />в НИУ МГСУ</p>
                        <img class="img-2" src="{% static 'img/jevhyr0wugd8gi9w8nec3mqvk3m3ppo1-1-2.png'%}" />
                    </div>
                </div>
                <div class="status-bar-iphone">
                    <div class="frame-2">
                        <div class="time"><div class="time-2">9:41</div></div>
                        <div class="dynamic-island"></div>
                        <div class="levels">
                            <img class="cellular-connection" src="{% static 'img/cellular-connection.svg'%}" />
                            <img class="wifi" src="{% static 'img/wifi.svg'%}" />
                            <div class="battery">
                                <div class="capacity-wrapper"><div class="capacity"></div></div>
                                <img class="cap" src="{% static 'img/cap.svg'%}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view">
                    <div class="overlap-5">
                        <img class="settings" src="{% static 'img/settings.svg'%}" />
                        <img class="element-general-book" src="{% static 'img/book.svg'%}" />
                        <img class="element-general-calendar" src="{% static 'img/calendar.svg'%}" />
                        <img class="line" src="{% static 'img/line-2.svg'%}" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
