{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/styleguide_news.css'%}" />
        <link rel="stylesheet" href="{% static 'css/style_news.css'%}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="div-wrapper">
            <div class="div">
                <div class="frame">
                    <img class="mask-group" src="{% static 'img/mask-group.png'%}" />
                    <div class="text-wrapper">ГЛАВНАЯ</div>
                </div>
                <div class="search">
                    <div class="overlap-group">
                        <img class="free-icon-magnifier" src="{% static 'img/free-icon-magnifier-2319177-1.png'%}" />
                        <div class="text-wrapper-0">Найти...</div>
                    </div>
                </div>
                <div class="text-wrapper-2">Истории</div>
                <div class="stories">
                    <img class="rectangle-1" src="{% static 'img/rectangle-2.png'%}" />
                    <img class="rectangle-2" src="{% static 'img/rectangle-3.png'%}" />
                    <img class="rectangle-3" src="{% static 'img/rectangle-4.png'%}" />
                    <img class="rectangle-4" src="{% static 'img/rectangle-5.png'%}" />
                </div>
                <div class="text-wrapper-3">НОВОСТИ</div>
                {% block content %}{% endblock %}
                <div class="view">
                    <div class="overlap-5">
                        <img class="settings" src="{% static 'img/settings.svg'%}" />
                        <img class="element-general-book" src="{% static 'img/book.svg'%}" />
                        <img class="element-general-calendar" src="{% static 'img/calendar.svg'%}" />                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
